version: '3'
services:
  mqtt:
    image: drewlsvern/mqtt
    networks:
      - webproxy
    ports:
      - 1883:1883
      - 8083:8083
      - 8883:8883
      - 8116:80
    volumes:
      - ${MOSQUITTO_FILES_PATH:-./mosquitto}/conf:/mosquitto/conf
      - ${MOSQUITTO_FILES_PATH:-./mosquitto}/log:/mosquitto/log
      - ${MOSQUITTO_FILES_PATH:-./mosquitto}/scripts:/scripts
    container_name: mqtt
    restart: always
networks:
  webproxy:
    external:
      name: webproxy
